.hero-img {
    height: 120vh;
    background-image: url('../../../assets/home.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: relative;
}

.hero-content {
    position: absolute;
    text-shadow: 0 0 50px rgba(0,0,0,0.9);
    top: 40%;
}

.hero-content p {
    font-size: 20px;
}

.hero-content h2 {
    color: var(--color-white);
}