.footer {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: var(--color-tertiary);
}

.footer-card-container {
    display: flex;
    gap: 20%;
}

.quick-link {
    color: var(--color-secondary);
}