.reservation-content {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: -50px;
    margin-bottom: -50px;
    background-color: var(--color-tertiary);
}

.reservation-content h1 {
    padding-bottom: 20px;
    text-align: center;
    color: var(--color-white);
}

.reservation-content p {
    padding: 10px 0;
}

.form-field {
    padding-bottom: 20px;
}

.form-field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    outline: none;
    font-size: 20px;
}

.form-field label {
    font-size: 18px;
}

.name-email {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.name-email div {
    width: 50%;
}

.button-alt {
    text-transform: none;
}