.breakfast-selection h1 {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    text-decoration: underline;
}

.breakfast-selection img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}